.vs/*
out/*
build/*
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.exe
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.pdb
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.Build.CppClean.log
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.ilk
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.obj
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.vcxproj.FileListAbsolute.txt
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/vc142.pdb
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt

.fake
.ionide
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/Pang.FFmpegCore.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/reply/cache-v2-0f60512a44c31b88d7b6.json
build/.cmake/api/v1/reply/cache-v2-6356958b64e787df77ad.json
build/.cmake/api/v1/reply/codemodel-v2-2ccf32b3bd534d8c4e21.json
build/.cmake/api/v1/reply/codemodel-v2-6cbedd5c9bf93d68b0b7.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-Pang.FFmpegCore-Debug-32da3e37d2ddc3010d32.json
build/.cmake/api/v1/reply/directory-Pang.FFmpegCore-MinSizeRel-32da3e37d2ddc3010d32.json
build/.cmake/api/v1/reply/directory-Pang.FFmpegCore-Release-32da3e37d2ddc3010d32.json
build/.cmake/api/v1/reply/directory-Pang.FFmpegCore-RelWithDebInfo-32da3e37d2ddc3010d32.json
build/.cmake/api/v1/reply/index-2021-12-23T13-24-43-0192.json
build/.cmake/api/v1/reply/index-2021-12-24T01-01-52-0726.json
build/.cmake/api/v1/reply/index-2021-12-24T01-25-13-0303.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-9773bede6834683c7bae.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-9773bede6834683c7bae.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-9773bede6834683c7bae.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-9773bede6834683c7bae.json
build/.cmake/api/v1/reply/target-Pang.FFmpegCore-Debug-25cd092e8f51115cdbf3.json
build/.cmake/api/v1/reply/target-Pang.FFmpegCore-Debug-43e3b8c72d7359b881a8.json
build/.cmake/api/v1/reply/target-Pang.FFmpegCore-MinSizeRel-e95e4c47b9f5a10d015b.json
build/.cmake/api/v1/reply/target-Pang.FFmpegCore-MinSizeRel-e426fb15f2932b4f36ef.json
build/.cmake/api/v1/reply/target-Pang.FFmpegCore-Release-55bc277b3a9d0175494d.json
build/.cmake/api/v1/reply/target-Pang.FFmpegCore-Release-f76793a41c38d6b99aca.json
build/.cmake/api/v1/reply/target-Pang.FFmpegCore-RelWithDebInfo-59e803dcfdf19a8171da.json
build/.cmake/api/v1/reply/target-Pang.FFmpegCore-RelWithDebInfo-099ec024ff6a94cb43eb.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-80c34da49c043042a0f2.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-63397d12df70a0de065c.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-80c34da49c043042a0f2.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-63397d12df70a0de065c.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-80c34da49c043042a0f2.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-63397d12df70a0de065c.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-80c34da49c043042a0f2.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-63397d12df70a0de065c.json
build/.cmake/api/v1/reply/toolchains-v1-3e7e2db4f9137e27dba6.json
build/.cmake/api/v1/reply/toolchains-v1-aa6def1d3d47d8b7f596.json
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.21.21080301-MSVC_2/CMakeCCompiler.cmake
build/CMakeFiles/3.21.21080301-MSVC_2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.21.21080301-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.21.21080301-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.21.21080301-MSVC_2/CMakeRCCompiler.cmake
build/CMakeFiles/3.21.21080301-MSVC_2/CMakeSystem.cmake
build/CMakeFiles/3.21.21080301-MSVC_2/VCTargetsPath.txt
build/CMakeFiles/3.21.21080301-MSVC_2/VCTargetsPath.vcxproj
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.21.21080301-MSVC_2/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.21.21080301-MSVC_2/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/a5f0c1402a8cbc83e9b2be0f092a4e1b/generate.stamp.rule
build/Pang.FFmpegCore/cmake_install.cmake
build/Pang.FFmpegCore/Pang.FFmpegCore.vcxproj
build/Pang.FFmpegCore/Pang.FFmpegCore.vcxproj.filters
build/Pang.FFmpegCore/CMakeFiles/generate.stamp.depend
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.exe
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.pdb
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.exe.recipe
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.ilk
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.obj
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/vc143.pdb
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/CL.command.1.tlog
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/CL.read.1.tlog
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/CL.write.1.tlog
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/CustomBuild.command.1.tlog
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/CustomBuild.read.1.tlog
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/CustomBuild.write.1.tlog
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/link.command.1.tlog
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/link.read.1.tlog
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/link.write.1.tlog
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/Pang.FFmpegCore.lastbuildstate
build/win32/Debug/ALL_BUILD/ALL_BUILD.recipe
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
