.vs/*
out/*
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.exe
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.pdb
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.Build.CppClean.log
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.ilk
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.obj
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.vcxproj.FileListAbsolute.txt
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/vc142.pdb
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
