.vs/*
out/*
build/.cmake/api/v1/reply/codemodel-v2-6cbedd5c9bf93d68b0b7.json
build/.cmake/api/v1/reply/codemodel-v2-b3afbeac1ca880029375.json
build/.cmake/api/v1/reply/index-2021-12-23T07-28-19-0751.json
build/.cmake/api/v1/reply/index-2021-12-23T08-01-38-0065.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-9773bede6834683c7bae.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-9773bede6834683c7bae.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-9773bede6834683c7bae.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-9773bede6834683c7bae.json
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.exe
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.pdb
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.Build.CppClean.log
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.ilk
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.obj
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.vcxproj.FileListAbsolute.txt
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/vc142.pdb
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/link.read.1.tlog
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/link.write.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.recipe
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
build/.cmake/api/v1/reply/codemodel-v2-6cbedd5c9bf93d68b0b7.json
build/.cmake/api/v1/reply/index-2021-12-23T07-28-19-0751.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-947ed3ac6f5baca1d3c0.json
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.exe
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.pdb
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.ilk
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.obj
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/vc142.pdb
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/link.read.1.tlog
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/link.write.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.recipe
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/.cmake/api/v1/reply/codemodel-v2-6cbedd5c9bf93d68b0b7.json
build/.cmake/api/v1/reply/index-2021-12-23T07-28-19-0751.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-947ed3ac6f5baca1d3c0.json
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.exe
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.pdb
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.ilk
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.obj
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/vc142.pdb
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/link.read.1.tlog
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/link.write.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.recipe
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/.cmake/api/v1/reply/codemodel-v2-6cbedd5c9bf93d68b0b7.json
build/.cmake/api/v1/reply/index-2021-12-23T07-28-19-0751.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-947ed3ac6f5baca1d3c0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-947ed3ac6f5baca1d3c0.json
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.exe
build/Pang.FFmpegCore/Debug/Pang.FFmpegCore.pdb
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.ilk
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.obj
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/vc142.pdb
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/link.read.1.tlog
build/Pang.FFmpegCore/Pang.FFmpegCore.dir/Debug/Pang.FFmpegCore.tlog/link.write.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.recipe
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
